@import 'includes/reset';

@import 'includes/vars';

// @import 'includes/hamburger.scss';

@import 'includes/font-awesome';

@import 'includes/globals';

body {
	background: $color-white;
}

form {
	display: block;
    padding: 15px;

    &.clear {
        padding: 0 15px;
    }

    h3 {
    	text-align: center;
    	font-size: 34px;
    	margin: 10px 0 30px;
    }
}

input[type="text"] {
	width: 620px;
}

textarea {
	width: 620px;
}

.galleryEditor {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 100%;

    .item {
        display: flex;
        justify-content: center;
        width: 25%;

        @include respond-to($md) {
            width: 16.5%;
            max-height: 300px;
        }

        &.selected {
            border:2px solid green;
        }
    }

    img {
        max-width: 100%;
        max-height: 200px;
    }
}




