@import 'includes/reset';

@import 'includes/vars';

@import 'includes/font-awesome';

@import 'includes/globals';



section {
	.section__inner {
		display: flex;
		width: 100%;
	}
}

form {
	display: inline-block;
	margin: 0 auto;
	border: 2px solid $color-brand-2;
    border-radius: $border-radius--default;
    padding: 20px 30px 30px;

    &.hidden {
    	display: none;
    }

    .linkWrapper {
    	margin-top: 15px;
    }
}

h3 {
	font-size: $font-size-heading-3;
	font-family: $font-family-default;
}

input[type="text"], input[type="password"] {
	width: 250px;
}

.errorMessage {
	color: red;
    margin: 10px 0 10px 3px;
    max-width: 250px;
    display: none;
    line-height: $line-height-text;
}

form.invalid {
	input[type="text"], input[type="password"] {
		border-color: red;
	}

	.errorMessage.invalid {
		display: block;
	}
}

form.inactiveUser {
	input[type="text"], input[type="password"] {
		border-color: red;
	}

	.errorMessage.inactiveUser {
		display: block;
	}	
}